@font-face{
	font-family: Adobe_Garamond_Pro_Regular;
	src: url('../fonts/Adobe_Garamond_Pro_Regular.ttf');
}

body{
	margin: 0;
	font-family: "Adobe_Garamond_Pro_Regular",serif;
	background-color: #fbfbfb;
}

header{
	border-bottom: 1px solid #e0e0e0;
}

p,h1,h2,h3,h4,h5,h5{
	margin-top: 0;
	margin-bottom: 0;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ebkit-box-sizing: border-box;
}

.box-head{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	position: relative;
}

.box-head:after{
	clear: both;
	content: '';
	display: table;
}

.box-social-media{
	height: 100%;
	float: left;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
}

.box-social-media > a{
	display: inline-block;
	margin-right: 15px;
	color: #9b9b9b;
	font-size: 17px;
}


.img-head{
	width: 280px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	display: inline-block;
}

.img-head > img{
	width: 100%;
	display: block;
}

.form-search{
	float: right;
	height: 100%;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
}

.form-search > div > input[type='text']{
	width: 15	0px;
	padding: 3px 10px;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
}

.form-search > div{
	position: relative;
}

.form-search > div > button{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	cursor: pointer;
	color: #9b9b9b;
	font-size: 14px;
	border: 0px;
	background-color: transparent;
}

.main-nav > ul{
	padding-left: 0;
	list-style: none;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.main-nav > ul > li{
	display: inline-block;
	position: relative;
}

.main-nav > ul > li:hover > .sub-nav{
	display: block;
}

.main-nav > ul > li:hover{
	background-color: rgba(0,0,0,0.15);
	color: #9b9b9b;
}

.main-nav > ul > li > a{
	display: inline-block;
	text-decoration: none;
	color: #9b9b9b;
	font-size: 12px;
	line-height: 21px;
	color: #4f4f4f;
	padding: 5px 60px 5px 15px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

.box-carousel > img{
	width: 100%;
	display: block;
}

.category-nav > ul{
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.category-nav > ul > li{
	display: inline;	
}

.category-nav > ul > li > p{
	display: inline-block;
	text-decoration: none;
	color: #9b9b9b;
	font-size: 12px;
	line-height: 21px;
	color: #4f4f4f;
	margin: 0 30px;
	font-weight: bold;
	letter-spacing: 1.5px;
	cursor: pointer;
}

.category-nav > ul > li > p:hover{
	color: #bebebe;;
}

.slide-category > ul{
	padding-left: 0;
	list-style: none;
	margin-top: -15px;
	margin-bottom: 0;
	margin-left: -15px;
}

.slide-category > ul:after{
	content: '';
	clear: both;
	display: table;
}

.slide-category > ul > li{
	float: left;
	width: 33.33%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 15px;
	margin-top: 15px;
}

.slide-category > ul > li > a{
	display: block;
}

.slide-category > ul >li > a > img{
	width: 100%;
	display: block;
}

.list-content > ul{
	padding-left: 0;
	margin: 30px auto 40px auto;
	list-style: none;
	padding: 0 15px 0 0;
	width: 1100px;
}

.list-content > ul:after{
	clear: both;
	display: table;
	content: '';
}

.list-content > ul > li{
	float: left;
	width: 33.33%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-top: 15px;
}

.list-content > ul > li:nth-child(-n+3){
	margin-top: 0;
}

.list-content > ul > li > a{
	display: block;
	text-decoration: none;
}

.list-content > ul > li > a:hover > figure > figcaption > h3,
.list-content > ul > li > a:hover > figure > figcaption > p{
	color: #bebebe !important;
}

.list-content > ul > li > a > figure{
	margin: 0;
	margin-left: 15px;
}

.list-content > ul > li > a > figure > img{
	width: 100%;
	display: block;
}

.list-content figcaption{
	padding: 20px 0px 20px 0;
}

.list-content figcaption > h3{
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	color: #4f4f4f;
	font-weight: normal;
}

.list-content figcaption > p{
	text-align: center;
	font-size: 12px;
	line-height: 19px;
	margin-top: 0px;
	color: #4f4f4f;
}

.list-content > h3{
	text-align: center;
	margin-top: 70px;
	font-size: 16px;
	line-height: 24px;
	color: #4f4f4f;
	letter-spacing: 1.5px;
}

.list-content > hr{
	width: 30px;
	margin-top: 0px;
}

aside{
	background-color: #e4e4e4;
	border-top: 1px solid #bbbbbb;
}

.associates{
	width: 1100px;
	padding: 50px 0;
	margin-left: auto;
	margin-right: auto;
}
.associates h3{
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #4f4f4f;
	letter-spacing: 1.5px;
}
.associates hr{
	width: 30px;
	margin-top: 0px;
}

.associates p{
	font-size: 14px;
	line-height: 21px;
	color: #4f4f4f;
	margin-top: 30px;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: justify;
}

.associates-img{
	text-align: center;
	margin-top: 30px;
}

.associates-img > a{
	display: inline-block;
}

.associates-img > a > img{
	width: 400px;
	display: block;
}

footer{
	border-top: 1px solid #bbbbbb;
}

footer > ul{
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	text-align: center;
}

footer > ul > li{
	display: inline-block;
	padding: 60px 20px;
}

footer > ul > li > form{
	display: inline;
}

footer > ul > li > a{
	font-size: 12px;
	line-height: 19px;
	color: #4f4f4f;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
}

footer > ul > li > a:hover{
	color: #bebebe;
}

footer > ul > li > form > input[type='text']{
	padding: 1px 7px;
	border-radius: 3px;
    border: 1px solid #cccccc;
    width: 130px;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 2px;
}

.wrapper-about{
	padding: 15px 15px 0 15px;
}

.wrapper-about > ul{
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}

.wrapper-about > ul > li{
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.about-img > img{
	width: 100%;
	display: block;
}

.about-info{
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
}

.about-info > div{
	padding: 20px 50px;
}

.about-info > div > h3{
	font-size: 13px;
	line-height: 23px;
	color: #4f4f4f;
	letter-spacing: 1.5px;
}

.about-info > div > p{
	font-size: 12px;
	line-height: 19px;
	color: #4f4f4f;
	font-weight: bold;
	letter-spacing: 1.5px;
}

.about-info > div > hr{
	width: 30px;
	margin-top: 20px;
}

.about-to-top{
	padding-top: 0;
	padding-bottom: 15px;
}

.content-journal{
	width: 1100px;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 50px 15px 15px 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.content-journal a{
	display: block;
}

.content-journal > h3{
	text-align: center;
    font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
    letter-spacing: 1.5px;
}

.content-journal > p{
	font-size: 15px;
    line-height: 22px;
    color: #4f4f4f;
    text-align: center;
    margin-top: 0px;
    letter-spacing: 1.5px;
}

.journal10{
	margin-top: 30px;
}

.journal10 > a > img{
	width: 100%;
	display: block;
}

.second-journal{
	margin-top: 15px;
}

.second-journal:after{
	clear: both;
	content: '';
	display: table;
}

.second-left{
	float: left;
	width: 50%;
	padding-right: 7.5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.second-left > a > img{
	width: 100%;
	display: block;
}

.second-right{
	width: 50%;
	float: left;
	padding-left: 7.5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.second-right > a > img{
	width: 100%;
	display: block;
}

.treeth-journal{
	margin-top: 15px;
}

.treeth-journal:after{
	clear: both;
	content: '';
	display: table;
}

.treeth-left{
	float: left;
	width: 30%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
} 

.treeth-left > a > img{
	width: 100%;
	display: block;
}

.treeth-right{
	width: 70%;
	float: left;
	padding-left: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.treeth-right > a > img{
	width: 100%;
	display: block;
}

.item-designer{
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	margin-top: 15px;
}

.item-designer:first-of-type{
	margin-top: 50px;
}

.designer-img{
	width: 30%;
}

.designer-img > img{
	width: 100%;
	display: block;
}

.designer-info{
	width: 70%;
	padding: 15px 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
	background-color: #eeeeee;
	border-left: 15px solid #ffffff;
}

.unique-info-designer{
	border-left: 0px;
	border-right: 15px solid #ffffff;
}

.main-designer{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 50px 15px 15px 15px;
}

.main-designer > h3{
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #4f4f4f;
	letter-spacing: 1.5px;
}

.designer-info > div > h3{
	font-size: 13px;
    line-height: 20px;
    color: #4f4f4f;
    letter-spacing: 1.5px;
}

.designer-info > div > hr {
    width: 30px;
    margin-top: 0px;
}

.designer-info > div > p {
    font-size: 12px;
    line-height: 19px;
    color: #4f4f4f;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.main-news{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	padding: 50px 15px 15px 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.content-news{
	margin-top: 50px;
}

.content-news:first-of-type{
	margin-top: 0;
}

.content-news > h3{
	text-align: center;
    font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
    letter-spacing: 1.5px;
}

.content-news > p{
	font-size: 15px;
    line-height: 21px;
    color: #4f4f4f;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1.5px;
}

.content-news > section{
	margin-top: 30px;
}

.content-news > section > a >img{
	width: 100%;
	display: block;
}

.content-news > section > a{
	display: block;
}

.main-work{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	padding: 50px 15px 15px 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.project-content{
	margin-top: 50px;
}

.project-content:first-of-type{
	margin-top: 0;
}

.project-content > ul{
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	margin-top: 30px;
}

.project-content > ul:after{
	content: '';
	clear: both;
	display: table;
}

.project-content > ul > li{
	float: left;
	width: 50%;
	padding-left: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.project-content > ul > li:first-child{
	width: 100%;
	margin-bottom: 15px;
}

.project-content > ul > li > a{
	display: block;
}

.project-content > ul > li > a >img{
	width: 100%;
	display: block;
}

.project-content > h3{
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
    letter-spacing: 1.5px;
}

.project-content > p{
	font-size: 15px;
    line-height: 22px;
    color: #4f4f4f;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1.5px;
}

.sub-nav{
	position: absolute;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	left: 0;
	top: 100%;
	z-index: 10;
	width: 100%;
	display: none;
}

.sub-nav > li{
	margin-top: 1px;
	text-align: left;
}

.sub-nav > li > a{
	display: block;
	background-color: rgba(0,0,0,0.15);
	color: #4f4f4f;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 5px 15px;
}

.sub-nav > li > a:hover{
	background-color: rgba(0,0,0,0.2);
}

.main-box{
	padding-bottom: 50px;
}

.box-bar{
	display: none;
}

.main-nav > ul > li > a > i{
	display: none;
}

.dekstop{
	display: block;
}

.mobile{
	display: none;
}

.read_more{
	text-align: right;
	margin-top: 10px;
}

.read_more > a{
	background-color: #F5F5F5;
	padding: 7px 50px;
	display: inline-block;
	text-decoration: none;
	color: #4f4f4f;
}

.read_more > a:hover{
	color: #bebebe;
}

.description_content{
	color: #4f4f4f !important;
	margin-top: 10px;
}

.description_content p{
	text-align: justify;
}

.description_content img{
	max-width: 100%;
	width: auto !important;
}

.description_content p:after{
	clear: both;
	content: '';
	display: table;
}

.row_contact{
	margin-top: 50px;
	margin-left: -15px;
}

.row_contact:after{
	content: '';
	clear: both;
	display: table;
}

.grid_contact{
	float: left;
	width: 33.33%;
	padding-left: 15px;
	margin-top: 15px;
}

.grid_contact:nth-child(-n+3){
	margin-top: 0;
}

.box_contact{
	background-color: #fbfbfb;
}

.box_top_contact{
	padding: 15px;
	border-bottom: 3px solid #4f4f4f;
}

.box_top_contact > a{
	display: block;
}

.main_image_content{
	width: 100%;
}

.text_center{
	text-align: center;
}

.dekstop_designer{
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}

.box_career{
	float: left;
	width: 50%;
	padding-left: 15px;
	margin-top: 15px;
}

.content_grid_career{
	background-color: #fbfbfb;
	padding: 15px;
}

.container_career{
	margin-top: 35px;
	margin-left: -15px;
}

.container_career:after{
	display: table;
	content: '';
	clear: both;
}

.box_desc_career{
	margin-top: 7px;
}

.title_page{
	text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #4f4f4f;
    letter-spacing: 1.5px;
}

.box_email{
	margin-top: 50px;
	margin-bottom: 40px;
	text-align: center;
}

.box_email > div{
	display: inline-block;
	background-color: #fbfbfb;
	padding: 15px;
}

@media(max-width: 1200px){
	.box-head {
	    width: 950px;
	    height: 90px;
	}

	.main-nav > ul > li > a {
	    padding: 5px 50px 5px 15px;
	}

	.main-nav > ul {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}

	.category-nav > ul {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	.list-content > ul {
	    margin: 30px auto 30 auto;
	    padding: 0 15px 0 0;
	    width: 950px;
	}

	.list-content > h3 {
	    margin-top: 50px;
	    font-size: 16px;
	    line-height: 24px;
	}

	.list-content > hr {
	    margin-top: 0px;
	}

	.associates {
	    width: 950px;
	    padding: 50px 0;
	}

	.associates p {
	    font-size: 14px;
	    line-height: 21px;
	    margin-top: 20px;
	}

	.associates hr {
	    margin-top: 0px;
	}

	.associates-img > a > img {
	    width: 230px;
	}

	footer > ul > li {
	    padding: 30px 20px;
	}

	.about-info > div > p {
	    font-size: 15px;
	    line-height: 20px;
	}

	.about-info > div > hr {
	    margin-top: 10px;
	}

	.content-journal{
		width: 950px;
		padding: 40px 15px 15px 15px;
	}

	.main-box {
	    padding-bottom: 40px;
	}

	.main-designer {
	    width: 950px;
	    padding: 40px 15px;
	}

	.item-designer:first-of-type {
	    margin-top: 40px;
	}

	.designer-info > div > p {
	    font-size: 12px;
	    line-height: 19px;
	}

	.designer-info > div > hr {
	    margin-top: 10px;
	}

	.main-news {
	    width: 950px;
	    padding: 40px 15px 15px 15px;
	}

	.content-news {
	    margin-top: 40px;
	}

	.main-work {
	    width: 950px;
	    padding: 40px 15px 15px 0;
	}

	.project-content {
	    margin-top: 40px;
	}

	.img-head{
		width: 230px;
	}

	.container_career {
	    margin-left: 0px; 
	}
}

@media(max-width: 980px){
	.box-head {
	    width: 732px;
	    height: 90px;
	}

	.main-nav > ul > li > a {
	    padding: 5px 20px 5px 10px;
	}

	.sub-nav > li > a {
	    padding: 5px 10px;
	}

	.main-news {
	    width: 732px;
	    padding: 30px 15px 15px 15px;
	}

	.content-news > section {
	    margin-top: 20px;
	}

	.content-news {
	    margin-top: 30px;
	}

	.main-box {
	    padding-bottom: 30px;
	}

	footer > ul > li {
	    padding: 20px 15px;
	}

	.img-head {
	    width: 240px;
	}

	.list-content > ul {
	    margin: 20px auto 20px auto;
	    padding: 0 15px 0 0;
	    width: 732px;
	}

	.category-nav > ul > li > p {
	    margin: 0 20px;
	}

	.list-content > h3 {
	    margin-top: 40px;
	    font-size: 16px;
	    line-height: 24px;
	}

	.associates {
	    width: 732px;
	    padding: 40px 0;
	}

	.associates-img > a > img {
	    width: 230px;
	}

	.about-info > div {
	    padding: 10px 15px;
	}

	.content-journal {
	    width: 732px;
	    padding: 40px 15px 15px 15px;
	}

	.main-designer {
	    width: 732px;
	    padding: 40px 15px;
	}

	.designer-info {
	    padding: 15px 15px;
	}

	.main-work {
	    width: 732px;
	    padding: 40px 15px 15px 0;
	}

	.grid_contact {
	    width: 50%;
	}

	.grid_contact:nth-child(-n+3) {
	    margin-top: 15px;
	}

	.grid_contact:nth-child(-n+2) {
	    margin-top: 0;
	}

}

@media(max-width: 767px){
	.box-head {
	    width: 451px;
	    height: 80px;
	    padding-bottom: 10px;
	}

	.box-social-media {
	    align-items: flex-end;
	    -webkit-box-align: end;
	}

	.form-search {
	    align-items: flex-end;
	    -webkit-box-align: end;
	}

	.img-head {
	    width: 240px;
	    left: 50%;
	    top: 15px;
	    transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -webkit-transform: translateX(-50%);
	}

	.form-search > div > input[type='text'] {
	    width: 220px;
	    padding: 1px 10px;
	}

	.main-nav > ul > li {
	    display: block;
	}

	.main-nav > ul {
	    text-align: right;
	    padding-left: 15px;
		padding-right: 15px;
		display: none;
	}

	.main-nav > ul > li > a {
	    font-size: 12px;
	    line-height: 22px;
	    padding: 5px 11px 5px 11px;
	}

	.box-bar{
		text-align: right;
		padding: 15px 30px 15px 30px;
		border-bottom: 1px solid #e0e0e0;
		display: block;
	}

	.box-bar > i{
		font-size: 20px;
		line-height: 27px;
		cursor: pointer;
		color: #4f4f4f;
	}

	.sub-nav {
	    position: relative;
	    width: 100%;
	    display: block;
	    padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		display: none;
	}

	.sub-nav > li {
	    margin-top: 5px;
	    text-align: right;
	}

	.sub-nav > li > a {
	    padding: 5px 20px;
	    background-color: transparent;
	}

	.main-nav > ul > li:hover{
		background-color: transparent;
		color: #9b9b9b;
	}

	.main-nav > ul > li:hover > .sub-nav{
		display: none;
	}

	.main-nav > ul > li > a > i{
		margin-right: 5px;
		display: inline-block;
	}

	.category-nav > ul > li > p {
	    margin: 0 15px;
	}

	.list-content > ul {
	    margin: 20px auto 20px auto;
	    padding: 0 15px 0 0;
	    width: 451px;
	}

	.list-content > ul > li {
	    width: 100%;
	    margin-top: 15px;
	}

	.list-content figcaption {
	    padding: 20px 0px 20px 0;
	}

	.associates {
	    width: 451px;
	    padding: 40px 0;
	}

	.associates-img > a > img {
	    width: 230px;
	}

	.wrapper-about > ul {
	    display: block;
	}

	.wrapper-about > ul > li {
	    width: 100%;
	}

	.dekstop{
		display: none;
	}

	.mobile{
		display: block;
	}

	.about-to-top {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}

	.about-info > div {
	    padding: 15px 15px;
	}

	.content-journal {
	    width: 451px;
	    padding: 40px 15px 15px 15px;
	}

	.main-designer {
	    width: 451px;
	    padding: 40px 15px;
	}

	.item-designer {
	    display: block;
	}

	.designer-img {
	    width: 100%;
	}

	.designer-info {
	    width: 100%;
	    border-left: 0px solid #ffffff;
	}

	.unique-info-designer {
	    border-right: 0px solid #ffffff;
	}

	.main-news {
	    width: 451px;
	    padding: 30px 15px 15px 15px;
	}

	.main-work {
	    width: 451px;
	    padding: 40px 15px 15px 0;
	}

	.main-box {
	    padding-bottom: 30px;
	    padding-top: 15px;
	}

	.grid_contact {
	    width: 100%;
	}

	.grid_contact:nth-child(-n+3) {
	    margin-top: 15px;
	}

	.grid_contact:nth-child(-n+2) {
	    margin-top: 15px;
	}

	.grid_contact:nth-child(-n+1) {
	    margin-top: 0;
	}

	.slide-category > ul > li {
	    width: 50%;
	}

	.box-social-media > a {
	    margin-right: 10px;
	    font-size: 15px;
	}

	.dekstop_designer{
		display: none;
	}

	.box_career {
	    width: 100%;
	}

	.box_email {
	    margin-top: 30px;
	    margin-bottom: 20px;
	}

	.container_career {
	    margin-top: 15px;
	}
}

@media(max-width: 480px){
	.box-head {
	    width: 290px;
	    height: 80px;
	    padding-bottom: 10px;
	}

	.form-search > div > input[type='text'] {
	    width: 145px;
	}

	.box-social-media > a {
	    margin-right: 10px;
	    font-size: 17px;
	}

	.img-head {
	    width: 180px;
	}

	.box-bar {
	    padding: 10px 30px 10px 30px;
	}

	.list-content > ul {
	    margin: 15px auto 20px auto;
	    padding: 0 15px 0 0;
	    width: 290px;
	}

	.associates {
	    width: 290px;
	    padding: 40px 0;
	}

	.associates-img > a > img {
	    width: 230px;
	}

	footer > ul > li {
	    padding: 10px 15px;
	}

	.content-journal {
	    width: 290px;
	    padding: 40px 15px 15px 15px;
	}

	.main-designer {
	    width: 290px;
	    padding: 40px 15px;
	}

	.main-news {
	    width: 290px;
	    padding: 30px 15px 15px 15px;
	}

	.main-work {
	    width: 290px;
	    padding: 40px 15px 15px 0;
	}
}